section {
    margin: 10% 15%;
    background: #FFFFFF;
    padding: 20px
  }
  
  .title {
    border-bottom: rgba(182, 174, 174, 0.233) solid 2px
  }
  
  body {
    background: rgb(12, 226, 241)
  }
  
  .image {
    width: 100px;
    height: 100px;
  }
  
  .part {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: rgba(182, 174, 174, 0.233) solid 2px;
    display: flex;
    justify-content: space-around;
    align-items: center
  }
  
  .fas {
    margin: 0 20px
  }
  
  .btn {
    margin: 0 20px;
    cursor: pointer;
  }